# SPDX-License-Identifier: AGPL-3.0-or-later
# Zenflows is designed to implement the Valueflows vocabulary,
# written and maintained by srfsh <info@dyne.org>.
# Copyright (C) 2021-2023 Dyne.org foundation <foundation@dyne.org>.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.

# version: "3.8"
services:
  web:
    # image: ghcr.io/interfacerproject/zenflows@sha256:7a850b0a7f4fc2fc1e0034bb03b89b1eb99c9daa1b1d1203463c79276b61551f
    image: ghcr.io/interfacerproject/zenflows:latest
    ports:
      - {{ zenflows_port }}:8000
    environment:
      ADMIN_KEY: {{ admin_key }}

      DB_HOST: pgbouncer
      DB_NAME: {{ db_name }}
      DB_USER: {{ db_user }}
      DB_PASS: {{ db_pass }}
      DB_PORT: 6432

      ROOM_URI: http://zvmlet:3000
      ROOM_SALT: {{ room_salt }}

      EMAIL_ADDR: {{ admin_email }}
      EMAIL_KEY: {{ email_key }}
      EMAIL_URI: https://{{ domain_name }}/email/verify/

      GQL_AUTH_CALLS: "true"
      GQL_DEF_PAGE_SIZE: 50
      GQL_MAX_PAGE_SIZE: 100

      DID_KEYRING: {{ did_keyring }}
      DID_URI: {{ did_url }}
      DID_SPEC: {{ did_spec }}
      DID_SIGNER_SPEC: {{ did_signer_spec }}
      DID_IDENTITY: {{ did_identity }}
    depends_on:
      - zvmlet
      - pgbouncer
    stdin_open: true
    tty: true
    sysctls:
      - net.ipv4.tcp_keepalive_time=200
  db:
    image: postgres:12-alpine
    environment:
      POSTGRES_DB: {{ db_name }}
      POSTGRES_USER: {{ db_user }}
      POSTGRES_PASSWORD: {{ db_pass }}
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    expose:
      - 5432
    sysctls:
      - net.ipv4.tcp_keepalive_time=200

  pgbouncer:
    # image: docker.io/bitnami/pgbouncer:1
    image: docker.io/bitnamilegacy/pgbouncer:1
    ports:
      - 6432:6432
    environment:
      - POSTGRESQL_HOST=db
      - POSTGRESQL_PORT=5432
      - POSTGRESQL_USERNAME={{ db_user }}
      - POSTGRESQL_PASSWORD={{ db_pass }}
      - POSTGRESQL_DATABASE={{ db_name }}
      - PGBOUNCER_DATABASE={{ db_name }}
      - PGBOUNCER_MAX_CLIENT_CONN=10000
      - PGBOUNCER_QUERY_WAIT_TIMEOUT=5
    depends_on:
      - db
    sysctls:
      - net.ipv4.tcp_keepalive_time=200
  zvmlet:
    container_name: zvmlet
    image: ghcr.io/interfacerproject/zenflows-crypto:latest
    environment:
      HTTP_PORT: 3000
volumes:
  postgres_data:
