systemLog:
  destination: file
  path: /data/db/mongod.log
  logAppend: true
  logRotate: rename
  verbosity: 0
  timeStampFormat: iso8601-local
  component:
    accessControl:
      verbosity: 0
    command:
      verbosity: 0

storage:
  dbPath: /data/db
  wiredTiger:
    engineConfig:
      journalCompressor: snappy
      cacheSizeGB: 0.5

net:
  bindIp: 0.0.0.0
  port: 27017

security:
  authorization: enabled

operationProfiling:
  mode: off