{
        email {{ admin_email }}
}

{{ proxy_domain_name }} {
        reverse_proxy localhost:{{ proxy_port }}
}

{{ zenflows_domain_name }} {
        reverse_proxy localhost:{{ zenflows_port }}
}

{{ gui_domain_name }} {
        reverse_proxy localhost:3000
}

{{ dpp_domain_name }} {
        reverse_proxy localhost:{{ dpp_port }}
}
