DEEPL_API_KEY=
BASE_URL=https://{{ proxy_domain_name }}
NEXT_PUBLIC_ZENFLOWS_ADMIN={{ admin_key }}
NEXT_PUBLIC_INVITATION_KEY={{ invitation_key }}
NEXT_PUBLIC_ZENFLOWS_URL=${BASE_URL}/zenflows/api
NEXT_PUBLIC_DPP_URL=${BASE_URL}/interfacer-dpp
NEXT_PUBLIC_ZENFLOWS_FILE_URL=${BASE_URL}/zenflows/api/file
NEXT_PUBLIC_LOCATION_AUTOCOMPLETE=${BASE_URL}/location-autocomplete/
NEXT_PUBLIC_LOCATION_LOOKUP=${BASE_URL}/location-lookup/
NEXT_PUBLIC_LOSH_ID={{ losh_id }}
NEXT_PUBLIC_INBOX_SEND=${BASE_URL}/inbox/send
NEXT_PUBLIC_INBOX_READ=${BASE_URL}/inbox/read
NEXT_PUBLIC_INBOX_COUNT_UNREAD=${BASE_URL}/inbox/count-unread
NEXT_PUBLIC_INBOX_SET_READ=${BASE_URL}/inbox/set-read
NEXT_PUBLIC_WALLET=${BASE_URL}/wallet/token
NEXT_PUBLIC_SOCIAL_PERSON=${BASE_URL}/inbox/person
NEXT_PUBLIC_SOCIAL_ECONOMIC_RESOURCE=${BASE_URL}/inbox/economicresource
NEXT_PUBLIC_OSH=${BASE_URL}/osh
NEXT_PUBLIC_DID_EXPLORER=https://explorer.did.dyne.org/
NEXT_PUBLIC_INBOX_COUNT_INTERVAL=50000
NEXT_PUBLIC_MAPBOX_KEY={{ mapbox_key }}
NEXT_PUBLIC_START_DATE={{ cycle_start_date }}
NEXT_PUBLIC_CYCLE_LENGTH={{ cycle_length }}
