DEEPL_API_KEY=
NEXT_PUBLIC_ZENFLOWS_ADMIN={{ admin_key }}
NEXT_PUBLIC_INVITATION_KEY={{ invitation_key }}
NEXT_PUBLIC_ZENFLOWS_URL=https://{{ proxy_domain_name }}/zenflows/api
NEXT_PUBLIC_DPP_URL=https://{{ proxy_domain_name }}/interfacer-dpp
NEXT_PUBLIC_ZENFLOWS_FILE_URL=https://{{ proxy_domain_name }}/zenflows/api/file
NEXT_PUBLIC_LOCATION_AUTOCOMPLETE=https://{{ proxy_domain_name }}/location-autocomplete/
NEXT_PUBLIC_LOCATION_LOOKUP=https://{{ proxy_domain_name }}/location-lookup/
NEXT_PUBLIC_LOSH_ID={{ losh_id }}
NEXT_PUBLIC_INBOX_SEND=https://{{ proxy_domain_name }}/inbox/send
NEXT_PUBLIC_INBOX_READ=https://{{ proxy_domain_name }}/inbox/read
NEXT_PUBLIC_INBOX_COUNT_UNREAD=https://{{ proxy_domain_name }}/inbox/count-unread
NEXT_PUBLIC_INBOX_SET_READ=https://{{ proxy_domain_name }}/inbox/set-read
NEXT_PUBLIC_WALLET=https://{{ proxy_domain_name }}/wallet/token
NEXT_PUBLIC_SOCIAL_PERSON=https://{{ proxy_domain_name }}/inbox/person
NEXT_PUBLIC_SOCIAL_ECONOMIC_RESOURCE=https://{{ proxy_domain_name }}/inbox/economicresource
NEXT_PUBLIC_OSH=https://{{ proxy_domain_name }}/osh
NEXT_PUBLIC_DID_EXPLORER=https://explorer.did.dyne.org/
NEXT_PUBLIC_INBOX_COUNT_INTERVAL=50000
NEXT_PUBLIC_MAPBOX_KEY={{ mapbox_key }}
NEXT_PUBLIC_START_DATE={{ cycle_start_date }}
NEXT_PUBLIC_CYCLE_LENGTH={{ cycle_length }}
